div.wrapper{
  max-height:640px;
  background-color: #F5F5F5;
  overflow-y: hidden;
  width: 100%;
  div.sign-in{
    width: 60%;
    margin:150px auto;
    text-align: center;
 }
}

div.sign-in 
  {
    input {
  padding:15px;
  width:260px;
  background-color:#E8F0FE;
  border-color: lightblue;
  font-size: 17px;
  font-weight: bolder;
}
  }

div.sign-in {
  button {
  width:250px;
  padding: 15px;
  background-color: #0069D9;
  color: white;
  font-size: 17px;
  border-radius: 10px;
  cursor: pointer;
  }
}


.fa-caret-down {
  float: right;
  padding-right: 8px;
}


div.top-margin {
  margin-top: 5rem;
}

div.center-content {
  align-items: center;
}

button.btn-color {
  color: #8f2222;
}

span.btn-text {
  color: #f7f6f6
}

div.vertLine {
  border-right: 1px solid #8f2222;
  width: 100%;
  height: 400px;
  margin-top: 6rem;
}

img.image {
  margin-top: 15rem;
  margin-right: 2rem;
}

input.input-width {
  margin-left: 2rem;
  margin-top: 1rem;
}

div.card-background-color {
  background-color: #f9f9f9;
  width: 60%;
  margin-left: 3rem;
}

.text-center {
  text-align: center;
  color: #000000;
  font-size: 0.8rem;
  font-weight: 400;
}
a.link {
  color: #A72A17;
  cursor: pointer;
}

small.warning-color {
  color: #A72A17;
  margin-left: 2rem;
}

h6.bottom-margin {
  text-align: center;
  margin-bottom: 2rem;
  margin-right: 5rem;
  font-weight: 600;
}



/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
@media screen and (max-width:1300px)  {
  div.wrapper{
    max-height: 620px;
    overflow: hidden;
  }
}
