<div id="tooltip" display="none" style="position: absolute; display: none;"></div>
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1300px" height="710px" viewBox="0 0 1300 710" preserveAspectRatio="xMidYMid meet" >
  <rect id="svgEditorBackground" x="0" y="0" width="1300" height="710" style="fill: none; stroke: none;"/>
  <rect x="87" y="120" style="fill:khaki;stroke:black;stroke-width:1px;" id="splash" width="240" height="130"/>
  <rect x="419" y="121" style="fill:khaki;stroke:black;stroke-width:1px;" id="pantaloons" width="240" height="130"/>
  <rect x="124" y="332" style="fill:khaki;stroke:black;stroke-width:1px;" id="lifestyle" width="240" height="130"/><rect x="437" y="330" style="fill:khaki;stroke:black;stroke-width:1px;" id="lenskart" width="240" height="130"/>
  <rect x="758" y="181" style="fill:khaki;stroke:black;stroke-width:1px;" id="madame" width="240" height="130"/><text id="black" style="fill:black;font-family:Roboto;font-size:20px;" x="161" y="174" >Splash</text><text style="fill:black;font-family:Roboto;font-size:20px;" x="843" y="253" id="e3_texte">Madame</text><text style="fill:black;font-family:Arial;font-size:20px;" x="479" y="398" id="e1_texte">lenskart</text><text style="fill:black;font-family:Roboto;font-size:20px;" x="205" y="393" id="e4_texte">Lifestyle</text><text style="fill:black;font-family:Roboto;font-size:20px;" x="493" y="191" id="e5_texte">Pantaloons</text>
</svg>



