a.button-background {
  background-color: #eceaea
}

div.button-group-margin {
  margin: 1.7rem;
}

div.flex-container {
  display: flex;
  margin: 2rem;
}

div.compare-range-container {
  margin-top: 1rem;
}

.custom-checkbox-input {
  margin-bottom: 0.4rem;
}

div.flexbox-container {
  display: flex;
  justify-content: space-between;
}
select.select-container {
  width: 20%;
  display: block;
}

div.compareTo {
  width: 80%;
  margin-left: 1.8rem;
}

div.range-container {
  width: 20%;
  margin-right: 2rem;
}

input.date-container {
  width: 20%;
}

div.flex-elements {
  flex: 1;
}

button.button-margin {
  margin: 0.5rem;
}

input.custom-input {
  width: 100%;
  margin-top: 1.1rem;
}

.select-range-container {
  width: 20%;
  margin-right: 1.1rem;
  float: right;
}

.container-padding {
  padding: 1rem;
}

select.custom-select-range-container {
  margin-right: 1.1rem;
  float: right;
}

.loading {
  position: relative;
  min-height: 50vh;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fafafa url(../../assets/img/loader.gif) no-repeat center 200px / 50px auto;
  }
}

