<div class="container container-box">
      <div class="flex-container">
        <div class="flex-elements">
          <select class="browser-default custom-select select-container" [(ngModel)]="primaryMetrics" (change)="changeMetrics($event)">
            <option value="Footfall">Footfall</option>
            <option value="Dwelltime">Dwell time</option>
            <option value="returningCustomers">Returning customers</option>
            <option value="newCustomers">New customers</option>
            <option value="Dwelltime">Avg Dwell time</option>
            <option value="cameraCount">Camera count</option>
          </select>
        </div>
        <div class="range-container">
            <label>Select range</label>
              <select class="browser-default custom-select" [(ngModel)]="dateRange" (change)="changeDateRange($event)">
                <option disabled value="range">Select range</option>
                <option value="last7Days">Last 7 days</option>
                <option value="last30Days">Last 30 days</option>
                <option value="thisWeek">This week</option>
                <option value="lastWeek">Last week</option>
                <option value="thisMonth">This month</option>
                <option value="lastMonth">Last month</option>
                <option value="yearToDate">Year to date</option>
                <option value="Custom">Custom</option>
          </select>
          <div class="custom-range-container" *ngIf="dateRange === 'Custom'">
              <input type="text" class="custom-input"
              [showDropdowns]="true"
              ngxDaterangepickerMd [(ngModel)]="selected" placeholder="Choose custom date" (change)="changeSelection($event)"/> 
          </div>
        </div>
     </div>
          <div class="flexbox-container">
              <div class="flex-elements flex-margin-left">
                <div class="custom-control custom-checkbox custom-checkbox-input">
                    <input type="checkbox" class="custom-control-input" [(ngModel)]="vsMetric" id="vsMetric">
                    <label class="custom-control-label" for="vsMetric">vs Metric</label>
                </div>
                <select [disabled]="!vsMetric" [(ngModel)]="secondaryMetrics" class="browser-default custom-select select-container" (change)="changeVsMetrics($event)">
                  <option disabled value="">Select metrics</option>
                  <option value="Footfall">Footfall</option>
                  <option value="Dwelltime">Dwell time</option>
                  <option value="returningCustomers">Returning customers</option>
                  <option value="newCustomers">New customers</option>
                  <option value="Dwelltime">Avg Dwell time</option>
                  <option value="cameraCount">Camera count</option>
                </select>
              </div>
            <div class="compare-to-range-container">
                <div class="custom-control custom-checkbox custom-checkbox-input">
                    <input type="checkbox" class="custom-control-input" [(ngModel)]="compareTo" id="compareToInput">
                    <label class="custom-control-label" for="compareToInput">Compare to</label>
                </div>
              <select [disabled]="!compareTo" [(ngModel)]="compareToSelect" class="browser-default custom-select" (change)="changeCompareTo($event)">
                <option disabled value="range">Select compare to range</option>
                <option value="previousPeriod">Previous period</option>
                <option value="custom">Custom</option>
              </select>
              <div class="compare-range-container">
                <input type="text" class="date-container" 
                [showDropdowns]="true"
                ngxDaterangepickerMd *ngIf="compareToSelect === 'custom'" [(ngModel)]="compareToCustomDate" placeholder="Choose date" (change)="compareToDateRange($event)"/>  
            </div>
            <button type="button" (click)="applyDateRange()" class="btn btn-primary button-margin">Apply </button>
          </div>
        </div>
      <div class="col-xs-12 container-padding" [class.loading]="isLoading">
          <div id="tab" class="btn-group btn-group-justified button-group-margin" data-toggle="buttons">
            <a href="#prices" class="btn btn-default active button-background" data-toggle="tab">
              <input type="radio" >Daily
            </a>
            <a href="#features" class="btn btn-default button-background" data-toggle="tab">
              <input type="radio" />Weekly
            </a>
            <a href="#requests" class="btn btn-default button-background" data-toggle="tab">
              <input type="radio"  />Hourly
            </a>
          </div>
    
          <div class="tab-content">
            <div class="tab-pane active" id="prices">
              <div class="row">
                  <table>
                    <tr>
                      <td style="width: 10000px; height: 20%"><canvas id="lineChart"></canvas></td>
                      <td></td>
                    </tr>
                  </table>
              </div>
            </div>
            <div class="tab-pane" id="features">
              <div class="row">
                  <table>
                    <tr>
                      <td style="width: 10000px; height: 50%"><canvas id="weeklyChart"></canvas></td>
                      <td></td>
                    </tr>
                  </table>
              </div>
            </div>
            <div class="tab-pane" id="requests">
              <div class="row">
                  <table>
                    <tr>
                      <td style="width: 10000px; height: 50%"><canvas id="monthlyChart"></canvas></td>
                      <td></td>
                    </tr>
                  </table>
              </div>
            </div>
          </div>
        </div>
  <!-- <div class="row">
    <table>
        <tr>
          <td style="width: 10000px; height: 50%"><canvas id="hourlyChart"></canvas></td>
          <td></td>
        </tr>
      </table>
    <table>
      <tr>
        <td style="width: 10000px; height: 50%"><canvas id="lineChart"></canvas></td>
        <td></td>
      </tr>
    </table>
    <table>
      <tr>
        <td style="width: 10000px; height: 50%"><canvas id="monthlyChart"></canvas></td>
        <td></td>
      </tr>
    </table>
    <table>
      <tr>
        <td style="width: 10000px; height: 50%"><canvas id="weeklyChart"></canvas></td>
        <td></td>
      </tr>
    </table>
</div> -->
</div>

