a.button-background {
  background-color: #eceaea
}

div.button-group-margin {
  margin: 1.7rem;
}

div.flex-container {
  display: flex;
  margin: 2rem;
}

select.select-container {
  width: 20%;
}

input.date-container {
  width: 20%;
}

div.flex-elements {
  flex: 1;
}

