a.button-background {
  background-color: #eceaea
}

div.button-group-margin {
  margin: 1.7rem;
}

div.flex-container {
  display: flex;
  margin: 2rem;
}

select.select-container {
  width: 20%;
  display: block;
}

input.date-container {
  width: 20%;
}

div.flex-elements {
  flex: 1;
}

button.button-margin {
  margin: 0.5rem;
}

.select-range-container {
  width: 20%;
  margin-right: 1.1rem;
  float: right;
}

.container-padding {
  padding: 1rem;
}

select.custom-select-range-container {
  margin-right: 1.1rem;
  float: right;
}

