<div class="login-page">
  <div class="container" style="background: #fff; margin-top: -3rem;">
    <div class="form-outer text-center d-flex align-items-center">
      <div class="form-inner">
        <div class="logo"><span>RetailAtlas Platform</span></div>
        <hr>
        <p class="logo-small">Map your customers with confidence.</p>
        <div class="home-logo">
          <div class="home-logo-flex">
            <i class="fa fa-clock-o" aria-hidden="true"></i><span>Time</span>
          </div>
          <div class="home-logo-flex">
            <i class="fa fa-map-marker" aria-hidden="true"></i><span>Map</span>
          </div>
          <div class="home-logo-flex">
            <i class="fa fa-user" aria-hidden="true"></i><span>Location</span>
          </div>
      </div>
        <hr>
        <p class="logo-para">Welcome to RetailATLAS platform installed at Seawoods Grand Central. Nexus Mall(SGC-Nexus).
          Please see menus on the sidebar. In case of any queries - contact <strong>retail.atlas@auctusadvisiors.in</strong>
        </p>
      </div>
    </div>
  </div>
  </div>
